.dark_mode {
  color: #fff ;
  background-color: #000;
}
.day_mode {
  color: #000;
  background-color: #fff;
}
.mode {
  
  
}
.mode > svg {
  position: absolute;
  width: 25px;
  height: 25px;
  top : 18px;
  left: 450px;

}
